<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">  <!--语法提示-->
<head>
    <meta charset="UTF-8">
    <title>添加用户</title>
</head>
<body>

<div align="center">
    <form th:action="@{/hello/addUser}">
        id：   <input th:type="text" th:name="id"><br>
        用户名 <input th:type="text" th:name="username"><br>
        电话： <input th:type="text" th:name="password"><br>
        楼栋： <input th:type="text" th:name="build"><br>
        单元： <input th:type="text" th:name="util"><br>
        <button>我要添加！！</button>
    </form>
</div>
</body>
</html>