<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">  <!--语法提示-->
<head>
    <meta charset="UTF-8">
    <title>success页面</title>
</head>
<body>

    <div id="div" align="center">
        <table cellpadding="10" cellspacing="0" border="1">
            <tr>
                <!--<td>下标</td>-->
                <th>id</th>
                <th>员工</th>
                <th>电话</th>
                <th>部门</th>
                <th>部门地址</th>
                <th>操作</th>
                <th>操作</th>
            </tr>
            <tr th:each="user,bieming:${userList}">            <!-- 需要给获取到的集合娶个别名-->
               <!-- <td>
                    <span th:text="${bieming.index}"></span>
                </td>-->
                <td>
                    <span th:text="${user.id}"></span>
                </td>
                <td>
                    <span th:text="${user.username}"></span>
                </td>
                <td>
                    <span th:text="${user.password}"></span>
                </td>
                <td>
                    <span th:text="${user.build}"></span>
                </td>
                <td>
                    <span th:text="${user.util}"></span>
                </td>
                <td>
                    <a th:href="@{/hello/upd(id=${user.id},thisp=${thispage})}">修改</a>
                </td>
                <td>
                    <a th:href="@{/hello/delUser(id=${user.id},thisp=${thispage})}">删除</a>
                </td>

            </tr>
        </table>
    </div>


    <table width="600" align="center" >
        <tr>
            <td><a th:href="@{/hello/findAll(thisp=${prepage},everyp=3)}">上一页</a></td>
            <td><h4 th:text="当前页为+${thispage}"></h4></td>
            <td><a th:href="@{/hello/findAll(thisp=${nextpage},everyp=3)}">下一页</a></td>
            <td><a th:href="@{/hello/add}">添加&nbsp;&nbsp;</a></td>
        </tr>
    </table>


</body>

</html>