<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">  <!--语法提示-->
<head>
    <meta charset="UTF-8">
    <title>success页面</title>
</head>
<body>
<table>
    <tr>
        <td>下标</td>
        <td>编号</td>
        <td>书名</td>
    </tr>
    <tr th:each="book,bieming:${bookList}">      <!-- 需要给获取到的集合娶个别名-->
        <td>
            <span th:text="${bieming.index}"></span>
        </td>
        <td>
            <span th:text="${book.id}"></span>
        </td>
        <td>
            <span th:text="${book.name}"></span>
        </td>
    </tr>
</table>



</body>
</html>